.bg-primary {
  text-align: center !important;
  color: white !important;
}
.bg-danger {
  text-align: center !important;
  color: white !important;
}
.bg-success {
  text-align: center !important;
  color: white !important;
}
.bg-secondary {
  text-align: center !important;
  color: white !important;
}
.bg-secondary {
  text-align: center !important;
  color: white !important;
}
.bg-warning {
  text-align: center !important;
  color: white !important;
}
.bg-crimasy {
  text-align: center !important;
  color: white !important;
  background: #6bcbb5 !important;
}
.bg-darkDngr {
  text-align: center !important;
  color: white !important;
  background: rgb(127, 3, 3) !important;
}
.bg-unknown {
  text-align: center !important;
  color: white !important;
  background: rgb(179, 175, 175) !important;
}
