@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

.dashboard_main{
  display: flex;
  overflow: hidden;
}
.w2 {
  min-width: 100% !important;
  transition: all 0.4s ease-in-out;
}
.mainMasterContainer{
  max-height: 100vh;
  overflow-y: scroll;
}
.masterContainer {
  min-width: 95%;
  // max-height: 100vh;
  // overflow-y: scroll;
  transition: all 0.4s ease-in-out;
  @include mobile{
    min-width: 80% !important;
    transition: all 0.4s ease-in-out;
  }
}
