@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

.w1 {
  min-width: 25% !important;
  position: absolute;
  z-index: 3;
  transition: all 0.3s linear;
  @include mobile {
    min-width: 45% !important;
    transition: all 0.3s linear;
  }
}
.Sidebar__main {
  overflow: hidden;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 94vh;
  min-width: 5%;
  background-color: white;
  transition: all 0.3s linear;
  @include mobile {
    min-width: 20%;
    transition: all 0.3s linear;
  }
  .top {
    background-color: #01527a;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(108, 47, 47);
    transition: all 0.3s linear;

    &:hover {
      background-color: #287cac;
    }
    .logo {
      font-size: 25px;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
  }
  .center {
    ul {
      a {
        text-decoration: none;
        color: black;
        display: flex;
        gap: 12px;
        margin: 0.5rem 0;
        padding: 0.5rem 0;
        &:hover {
          background: #dbeff9 !important;
          transition: background 0.3s linear;
        }
        li {
          display: block;
          margin: 2px 0;
          padding: 0.5rem;
          cursor: pointer;
          font-size: 13px;
        }
        .side_iconA {
          font-size: 2rem;
          margin-left: 10px;
          margin-right: 2px;
          background: #287cac;
          color: white;
          padding: 5px;
          border-radius: 1px;
        }
        .side_iconC {
          font-size: 2rem;
          margin-left: 10px;
          margin-right: 2px;
          background: #a87d57;
          color: white;
          padding: 5px;
          border-radius: 1px;
        }
        .side_iconD {
          font-size: 2rem;
          margin-left: 10px;
          margin-right: 2px;
          background: #f18c38;
          color: white;
          padding: 5px;
          border-radius: 1px;
        }
        .side_project {
          font-size: 2rem;
          margin-left: 10px;
          margin-right: 2px;
          background: #f18c38;
          color: white;
          padding: 5px;
          border-radius: 1px;
        }
      }
    }
  }
}
