@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

.RTP {
  margin-top: 10%;
  height: 30%;
}

.excel-container {
  height: 100vh; /* set the height to 100% of the viewport height */
  width: 100vw; /* set the width to 100% of the viewport width */
}

.header {
  font-weight: bold;
}
